.roomInfoBar {
    position: relative;
    top: 5px;
    margin-right: 30px;
    display: inline-block;
    height: 32px;
}

.roomInfoBar_room {
    margin-right: 20px;
    cursor: pointer;
    :global(.anticon) {
        margin-left: 5px;
    }
}

.roomInfoBar_label {
    margin-left: 5px;
    color: black;
    font-weight: bold;
}