.listItem {
  //border-bottom: 1px solid white;
}

.listItem:hover {
  background-color: rgb(160, 188, 207);
  .avatar {
    background-color: rgb(160, 188, 207);
    color: rgb(27, 81, 117);
  }
}

.avatar {
  background-color: #7EAED0;
}

.roomNameHeader {
  display: inline;
  font-size: 12px;
  font-weight: 220;
  font-style: italic;
}

.roomName {
  display: inline;
  padding: 0px 45px;
  font-size: 18px;
  font-weight: bold;
}

.subjectIdHeader {
  display: inline;
  font-size: 12px;
  font-style: italic;
}

.subjectId {
  display: inline;
  padding: 0px 20px;
  font-weight: 500;
}

.roomStatus {
  float: right;
  color: rgb(27, 81, 117);
}