.commentarea {
  background-color: #eeeeff;
  height: 100%;
  
  h4 {
    margin: 10px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .comments {
    margin: 5px 20px;
    background-color: #ffffff;
    height: 100%;
  }

  .listItem {
    padding-left: 15px;

    .listMeta {
      display: flex;
      align-items: center;

      .avatar {
        color: #1890ff;
        background-color: #fff;
      }
    }
  }

  .listItem:nth-child(odd) {
    background-color: #90caff;
  }

  .listItem:nth-child(even) {
    background-color:#cde7ff;
  }
}