.App {
  width: 100vw;
  height: 100vh;
  /* white-space: nowrap; */
  overflow: hidden;
}

.input-panel {
  display: block;
  width: 50%;
  min-width: 150px;
  max-width: 60%;
  height: 100%;
  padding-right: 10px; 
  float: left;
  cursor: col-resize;
}

.code-panel {
  display: block;
  width: 100% !important;
  min-height: 100px;
  max-height: 550px;
  /* height: 50% !important; */
}

.border.code-panel {
  padding-bottom: 10px;
  cursor: row-resize;
}

.code-panel > div, .test-panel > div {
  width: 100% !important;
  height: 100% !important;
}

.test-panel {
  display: block;
  width: 100% !important;
  height: 100vh !important;
  /* height: 50% !important; */
}

.test-panel > div {
  height: 100% !important;
}

.result-panel {
  display: block;
  padding-left: 5px;
  overflow: hidden;
}

.additional-info {
  display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0;
}

.syntax-error {
  color: red;
  align-self: center;
}

#tests {
  flex: 1;
  overflow: auto;
  margin-bottom: 0 !important;
}

.ace_layer {
  height: 100% !important;
}

.border {
  background: #E0E0E0;
}

.border > div {
  border-right: 1px solid #E0E0E0;
}
