.App {
  width: 100vw;
  height: 100vh;
  white-space: nowrap;
  overflow: hidden;
}

.code-panel {
  display: block;
  width: 33%;
  min-width: 150px;
  max-width: 600px;
  height: 100%;
  float: left;
}

.result-panel {
  display: block;
  padding-left: 5px;
  overflow: hidden;
}

.additional-info {
  display: flex;
  border-bottom: 1px solid #cfcfcf;
  padding: 10px 0;
}

.syntax-error {
  color: red;
  align-self: center;
}

#tests {
  flex: 1;
  overflow: auto;
  margin-bottom: 0 !important;
}

.border {
  cursor: col-resize;
  background: black;
  padding-right: 3px;
  height: 100%;
}

.border > div {
  width: 100% !important;
  height: 100% !important;
  border-right: 1px solid #ccc;
}
