.control {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px;
      background: white;
      width: 100%;
      align-items: center;
      justify-content: space-between;
  }
  