.listItem {
  //border-bottom: 1px solid white;
}

.listItem:hover {
  background-color: rgb(160, 188, 207);
  .avatar {
    background-color: rgb(160, 188, 207);
    color: rgb(109, 109, 109);
  }
}

.avatar {
  background-color: #7EAED0;
}

.roomName {
  font-size: 18px;
  font-weight: bold;
}

.subjectId {
  font-style: italic;
}

.roomStatus {
  color: rgb(36, 74, 100);
}