.spin {
    top: 40vh;
    height: auto !important;
    z-index: 100;
}

.empty {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;

    :global(.ant-empty-description) {
        margin-top: 5px;
        font-size: 20px;
    }
}