.control {
	display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0;
	background: white;
	width: 100%;
	height:45px;
	align-items: center;
	justify-content: space-around;
}

.info {
	font-size:14px;
}

.icon {
	margin:10px;
}

#date {

}

#name {

}
#spendTime {

}



