.App {
    display: flex;
    height: 100%;
}

.App > * {
    flex: 1;
    margin: 0;
}

.App > div:last-child {
    display: flex;
    flex-direction: column;
}

.additional-info {
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    padding: 10px 0;
}

.syntax-error {
    color: red;
    align-self: center;
}

#tests {
    flex: 1;
    overflow: auto;
    margin-bottom: 0 !important;
}

.CodeMirror {
    height: 100% !important;
    border-right: 1px solid #ccc;
}
