.App {
    display: flex;
    height: 100%;
}

.App > * {
    flex: 1;
    margin: 0;
}


.App > #mocha {
    overflow: auto;
}

.CodeMirror {
    height: 100% !important;
    border-right: 1px solid #ccc;
}
