.control {
  position:absolute;
  // top:0px;
  z-index: 99;
  display: flex;
  padding: 10px 50px 10px 20px;
  background-color:#001529;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.interviewee {
  display: flex;
  align-items: center;
  font-size: 18px;
  flex: 1;
  color:rgb(218, 218, 218);
  p {
    font-size: 20px;
    margin: 15px;
  }
}

.button {
  margin: 0 8px;
}

.hidden {
  display: none;
}
