.historybar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: white;
}
.sliderBar {
  width:75%;
}
.btnGroup {
  margin:10px;
}


